* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #333;
    line-height: 1.6;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.hero {
    text-align: center;
    margin-bottom: 40px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: fill;
    border:  4px solid #4caf50 ;
}

.hero h1 {
    font-size: 32px;
    font-weight: 700px;
}

.subtitle {
    color: #666;
    font-size: 18px;
    font-weight: 300;
}

section {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 20px, 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0, 0.1);
    margin-bottom: 30px;
    transition: 0.5s;
} 

section:hover{
    box-shadow: 0 6px 32px rgba(0,0,0, 0.1);
}

section h2{
    font-size: 24px;
    margin-bottom: 15px;
    color: #4caf50;
}

section p {
    font-size: 20px;
    color: #444;
}

.contacts ul {
    list-style: none;
}

.contacts li {
    margin-bottom: 10px;
}

.contacts a {
    color: #4caf50;
    text-decoration: none;
    font-weight: 500;
}

.contacts a:hover {
    text-decoration: underline;
}

footer {
    margin-top: auto;
    font-size: 16px;
    color: #999;
}